v4-logic/flow.json
[
    {
        "id": "0f38eaacef37b72c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "688650f629473ac1",
        "type": "mqtt in",
        "z": "0f38eaacef37b72c",
        "name": "Estado de semaforo A",
        "topic": "IOT2/semaforo/A/publica",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08ceb29a615d5bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "366a8a8b4cd5ee4d",
                "91748235b3cca5f0",
                "0b53fb3155f135f2"
            ]
        ]
    },
    {
        "id": "8e7da5969ab1c531",
        "type": "mqtt in",
        "z": "0f38eaacef37b72c",
        "name": "Estado de semaforo B",
        "topic": "IOT2/semaforo/B/publica",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08ceb29a615d5bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "331e263dbd95af30",
                "c888b0d156ae36b0",
                "665c55c596c67945"
            ]
        ]
    },
    {
        "id": "366a8a8b4cd5ee4d",
        "type": "ui_led",
        "z": "0f38eaacef37b72c",
        "order": 2,
        "group": "cc8ddfd7d5b832ae",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "ROJO",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "VERDE",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Semaforo A rojo",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "91748235b3cca5f0",
        "type": "ui_led",
        "z": "0f38eaacef37b72c",
        "order": 1,
        "group": "cc8ddfd7d5b832ae",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "VERDE",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "ROJO",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Semaforo A verde",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "c888b0d156ae36b0",
        "type": "ui_led",
        "z": "0f38eaacef37b72c",
        "order": 2,
        "group": "2e85bc6e6a413ca7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "ROJO",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "VERDE",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Semaforo rojo",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "331e263dbd95af30",
        "type": "ui_led",
        "z": "0f38eaacef37b72c",
        "order": 1,
        "group": "2e85bc6e6a413ca7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "VERDE",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "ROJO",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Semaforo B verde",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed207c3712a9fe4a",
        "type": "mqtt out",
        "z": "0f38eaacef37b72c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08ceb29a615d5bf7",
        "x": 610,
        "y": 420,
        "wires": []
    },
    {
        "id": "0b53fb3155f135f2",
        "type": "debug",
        "z": "0f38eaacef37b72c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "665c55c596c67945",
        "type": "debug",
        "z": "0f38eaacef37b72c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "d2b9454f1966f11f",
        "type": "ui_button",
        "z": "0f38eaacef37b72c",
        "name": "",
        "group": "5c6495e3483b5bb9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Car at A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CAR",
        "payloadType": "str",
        "topic": "IOT2/semaforo/control/carA",
        "topicType": "str",
        "x": 420,
        "y": 360,
        "wires": [
            [
                "ed207c3712a9fe4a"
            ]
        ]
    },
    {
        "id": "3724303e8007cdb1",
        "type": "ui_button",
        "z": "0f38eaacef37b72c",
        "name": "",
        "group": "5c6495e3483b5bb9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "No car at A",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CLEAR",
        "payloadType": "str",
        "topic": "IOT2/semaforo/control/carA",
        "topicType": "str",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "ed207c3712a9fe4a"
            ]
        ]
    },
    {
        "id": "88efac345a0f9f87",
        "type": "ui_button",
        "z": "0f38eaacef37b72c",
        "name": "",
        "group": "5c6495e3483b5bb9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Car at B",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CAR",
        "payloadType": "str",
        "topic": "IOT2/semaforo/control/carB",
        "topicType": "str",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "ed207c3712a9fe4a"
            ]
        ]
    },
    {
        "id": "ea01b4ef7a50894d",
        "type": "ui_button",
        "z": "0f38eaacef37b72c",
        "name": "",
        "group": "5c6495e3483b5bb9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "No car at B",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "CLEAR",
        "payloadType": "str",
        "topic": "IOT2/semaforo/control/carB",
        "topicType": "str",
        "x": 410,
        "y": 480,
        "wires": [
            [
                "ed207c3712a9fe4a"
            ]
        ]
    },
    {
        "id": "63f2e78e2213b061",
        "type": "mqtt in",
        "z": "0f38eaacef37b72c",
        "name": "",
        "topic": "IOT2/semaforo/control/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "08ceb29a615d5bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "cffe4ce198e14eac"
            ]
        ]
    },
    {
        "id": "cffe4ce198e14eac",
        "type": "debug",
        "z": "0f38eaacef37b72c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "08ceb29a615d5bf7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "NodeRED_IOT2",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc8ddfd7d5b832ae",
        "type": "ui_group",
        "name": "Semaforo Master",
        "tab": "9787bc8a8055101e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e85bc6e6a413ca7",
        "type": "ui_group",
        "name": "Semaforo esclavo",
        "tab": "9787bc8a8055101e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5c6495e3483b5bb9",
        "type": "ui_group",
        "name": "Controladores",
        "tab": "9787bc8a8055101e",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9787bc8a8055101e",
        "type": "ui_tab",
        "name": "Semaforos",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e931799cb3beafdb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-ui-led": "0.4.11",
            "node-red-dashboard": "3.5.0"
        }
    }
]
